@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1,
h3,
h4 {
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-family: 'Public Sans', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

article {
    height: fit-content;
    padding: 2rem 3rem 7rem 3rem;
    position: relative;
}

article h2 {
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: 0 0 15px black;
    color: white;
}

section {
    overflow: hidden;
}

/* cool wavy divider */

.wave {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.one {
    transform: rotateX(180deg);
}

.three {
    transform: rotateX(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 85px;
    
}

.one svg {
    width: calc(169% + 1.3px);
    height: 79px;
}

.two svg {
    width: calc(169% + 1.3px);
    height: 79px;
}

.three svg {
    width: calc(130% + 2px);
    height: 80px;
}

.one .shape-fill {
    fill: rgba(3,166,164,1);
}

.two .shape-fill {
    fill: rgba(112,0,118,1);
}

.three .shape-fill {
    fill: rgb(49, 49, 49);
}

@media only screen and (max-width: 600px) {
    article h2 {
        text-align: center;
    }
}

.anchor {
    position: relative;
    top: -4rem;
    visibility: hidden;
}

/* navigation */

.nav-box {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    height: 4rem;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: rgb(70, 70, 70);
    overflow: hidden;
    z-index: 11;
    box-shadow: 0 0 10px black;
}

.logo {
    width: 2rem;
    height: 2rem;
    background-color: rgb(255, 255, 255);
}

.menu {
    margin: 0 auto;
}

.menu-item {
    display: inline-block;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
    height: 4rem;
}

.menu-item p {
    padding-top: 5%;
    color: white;
    transition: color 400ms;
}

.menu-item p:hover {
    color: rgb(193, 2, 193);
}

.menu-item:hover {
    cursor: pointer;
}

.hamburger {
    width: 2rem;
    height: 2rem;
    perspective: 300px;
    display: none;
    margin-right: 0.5rem;
    position: relative;
}

.hamburger img {
    width: 100%;
    height: 100%;
    filter: invert(1);
}

.hamburger:hover {
    cursor: pointer;
}

.close {
    width: 3rem;
    height: 3rem;
    perspective: 300px;
    display: none;
    margin-right: 0;
}

.close img {
    width: 100%;
    height: 100%;
    filter: invert(1);
}

.close:hover {
    cursor: pointer;
}

.dropdown-menu {
    position: fixed;
    display: flex;
    background-color: rgb(103, 103, 103);
    z-index: 10;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 1rem;
    height: fit-content;
    width: 100%;
    box-shadow: 0 0 15px black;
    top: -25rem;
    transition: top 500ms;
}

.dropdown-menu ul {
    list-style-type: none;
    width: 100%;
}

.dropdown-menu li {
    font-size: 2rem;
    font-weight: 320;
    color: white;
    padding: 0.5rem;
    padding-left: 2rem;
    width: 100%;
    min-width: 15rem;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    transition: all 0.4s;
}

.dropdown-menu li:hover {
    color: rgb(193, 2, 193);
    cursor: pointer;
}

.dropdown-menu li img {
    width: 2rem;
    filter: invert(1);
    align-self: center;
}

@keyframes rollOut {
    from {
        transform: rotateX(0deg) rotateY(0);
        transform-style: preserve-3d;
    }
    to {
        transform: rotateX(90deg) rotateY(0);
        transform-style: preserve-3d;
    }
}
@keyframes rollIn {
    from {
        transform: rotateX(90deg);
        transform-style: preserve-3d;
    }
    to {
        transform: rotateX(180deg);
        transform-style: preserve-3d;
    }
}

@media only screen and (max-width: 600px) {
    .menu {
        display: none;
    }
    .hamburger {
        display: block;
    }
}



/* header */

.header-wrapper {
    background: rgb(112,0,118);
    background: linear-gradient(140deg, rgba(112,0,118,1) 0%, rgba(252,69,69,1) 100%);
    margin-top: 4rem;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 3rem;
    color: white;
}

/* about */

.about-container {
    display: flex; 
    height: 80%;
    justify-content: center;
    gap: 2rem;
}

.about-container img {
    border-radius: 1rem;
    width: 40vw;
    max-width: 350px;
    align-self: flex-start;
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

.about-container div {
    max-width: 400px; 
}

.about-container div h3 {
    padding-bottom: 1rem;
    font-size: 2rem;
    color: white;
}

.about-container div p {
    font-size: 1.5rem;
    color: white;
}

@media only screen and (max-width: 600px) {
    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .about-container img {
        align-self: center;
        width: 60vw;
    }
}

/* education */

.education {
    background: rgb(3,166,164);
    background: linear-gradient(180deg, rgba(3,166,164,1) 0%, rgba(252,167,69,1) 100%);
}

.education-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 3rem;
}

.education-container div h3 {
    padding-bottom: 1rem;
    font-size: 2rem;
    color: white;
}

.art-btn {
    margin: 1rem 0;
    font-family: 'Rubik', sans-serif;
    padding: 1rem;
    border: 3px solid black;
    transition: all 300ms;
    text-transform: uppercase;
    font-weight: 600;
    width: max-content;
    align-self: center;
}

.art-btn:hover {
    cursor: pointer;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.4);
}

.art-btn span {
    padding-right: 0.7rem;
    padding-left: 0.3rem;
    transition: all 300ms;
}

.card {
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    overflow: hidden;
    background-color: rgb(240, 240, 240);
    max-width: 500px;
    padding-bottom: 1rem;
    box-shadow: 0 0 15px rgb(104, 104, 104);
    margin-bottom: 2rem;
}

.card img {
    align-self: flex-start;
    width: 100%;
    margin-bottom: 1rem;
}

.card p {
    font-size: 1.5rem;
    color: rgb(27, 27, 27);
    padding: 0.5rem 1.5rem 0;
}

@media only screen and (max-width: 900px) {
    .education-container {
        flex-direction: column;
        align-items: center;
    }
}

/* projects */

.projects {
    background: rgb(112,0,118);
    background: linear-gradient(180deg, rgba(112,0,118,1) 0%, rgba(252,69,69,1) 100%);
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.project {
    background:rgb(243, 243, 243);
    border-radius: 1rem;
    box-shadow: 0 0 15px black;
    transition: all 200ms;
    width: fit-content;
    max-width: 300px;
    overflow: hidden;
}

.project:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.project-image {
    width: 100%;
    border-radius: 0.2rem;
}

.project h4 {
    text-align: center;
    color: rgb(58, 58, 58);
    font-size: 1.3rem;
    padding: 1rem 1rem 0.5rem 1rem;
}

.project p {
    font-size: 1rem;
    color: rgb(27, 27, 27);
    text-align: center;
    padding: 0 1rem 1rem 1rem;
}

.more {
    display: none;
    position: fixed;
    width: 80vw;
    max-width: 700px;
    min-width: 220px;
    z-index: 9;
    padding: 3rem 2rem;
    box-shadow: 0 0 15px grey;
    top: 15%;
    align-self: center;
}

.more p {
    text-align: left;
    padding: 0;
}

#exit {
    width: 2rem;
    padding: 0;
    position: absolute;
    justify-self: flex-start;
    top: 0.5rem;
    right: 0.7rem;
    transition: all 200ms;
    filter: invert(0.2);
}

#exit:hover {
    transform: scale(1.2);
    filter: invert(0);
    cursor: pointer;
}

.more h2 {
    color:rgb(42, 42, 42);
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 0.4rem 0;
    text-align: left;
    text-shadow: none;
}

.more-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.more-image {
    width: 40vw;
    max-width: 350px;
    align-self: flex-start;
}

.more-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.view {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    padding: 1rem 1rem 0 1rem;
    align-self: flex-end;
    margin-top: auto;
}

#icon {
    width: 2.5rem;
    transition: all 200ms;
    filter: invert(0.2);
}

#icon:hover {
    transform: scale(1.2);
    filter: invert(0);
    cursor: pointer;
}

.more:hover {
    transform: none;
    cursor: default;
}

.dark-overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 8;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 600px) {
    .projects-container {
        flex-direction: column;
    }
    .project img {
        width: 70vw;
    }
    .more-container {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .more img {
        align-self: center;
    }
}

@media only screen and (min-width: 600px) {
    .more {
        padding: 2rem;
    }
}

/*contacts */

.contact-me {
    background-color: rgb(49, 49, 49);
}

.contacts-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.form-box {
    background-color: rgba(3,166,164,1);
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 450px;
}

.contacts {
    background-color: rgb(154, 4, 154);
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 450px;
    height: 353px; /* idk why I cant set the height to 100% here */
    overflow: hidden;
}

.contact {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.contact img {
    margin-right: 1rem;
    filter: invert(1);
}

textarea {
    max-width: 100%;
    border: 3px solid black;
    font-family: 'Rubik', sans-serif;
    padding: 0.5rem;
    font-weight: 500;
}

input {
    max-width: 100%;
    border: 3px solid black;
    font-family: 'Rubik', sans-serif;
    padding: 0.5rem;
    font-weight: 500;
}

.message-form {
    display: flex;
    flex-direction: column;
}

.message-form p {
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.submit {
    text-align: center;
    width: max-content;
    
}

@media only screen and (max-width: 940px) {
    .contacts-container {
        flex-direction: column;
    }
    .contacts {
        height: max-content;
    }
    .submit {
        align-self: center;
    }
}

@media only screen and (max-width: 500px) {
    .contact {
        font-size: 3vw;
    }
}

/* footer */

footer {
    background-color: aquamarine;
}